# Ignore virtual environments
myenv/
.env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter auto-save folders
.ipynb_checkpoints/

# Ignore macOS files (safe to include even on Windows)
.DS_Store
